nifi/ztm_flow.json
{"flowContents":{"identifier":"48320522-78fb-3ba7-b2be-f9640430fc70","instanceIdentifier":"985c78b3-019a-1000-f6d2-7fb5cc300c0c","name":"ZTM","comments":"","position":{"x":-328.0,"y":-328.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"9e3def6e-4bc6-3779-aa6c-b2e0917a4019","instanceIdentifier":"98755ba4-019a-1000-fac8-d4e84c813292","name":"PutAzureEventHub","comments":"","position":{"x":-1168.0,"y":-176.0},"type":"org.apache.nifi.processors.azure.eventhub.PutAzureEventHub","bundle":{"group":"org.apache.nifi","artifact":"nifi-azure-nar","version":"2.6.0"},"properties":{"Event Hub Name":"ztm-raw","Service Bus Endpoint":".servicebus.windows.net","Shared Access Policy Name":"RootManageSharedAccessKey","Event Hub Namespace":"ztm-streaming","Transport Type":"Amqp","Use Azure Managed Identity":"false","Partitioning Key Attribute Name":null,"proxy-configuration-service":null,"Maximum Batch Size":"100"},"propertyDescriptors":{"Event Hub Name":{"name":"Event Hub Name","displayName":"Event Hub Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Service Bus Endpoint":{"name":"Service Bus Endpoint","displayName":"Service Bus Endpoint","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Shared Access Policy Name":{"name":"Shared Access Policy Name","displayName":"Shared Access Policy Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Event Hub Namespace":{"name":"Event Hub Namespace","displayName":"Event Hub Namespace","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transport Type":{"name":"Transport Type","displayName":"Transport Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Use Azure Managed Identity":{"name":"Use Azure Managed Identity","displayName":"Use Azure Managed Identity","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Partitioning Key Attribute Name":{"name":"Partitioning Key Attribute Name","displayName":"Partitioning Key Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Shared Access Policy Key":{"name":"Shared Access Policy Key","displayName":"Shared Access Policy Key","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Maximum Batch Size":{"name":"Maximum Batch Size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48320522-78fb-3ba7-b2be-f9640430fc70"},{"identifier":"afe50d41-09c0-3f89-9233-7aae4f47f851","instanceIdentifier":"985cbe5e-019a-1000-7763-4630afc6525c","name":"InvokeHTTP","comments":"","position":{"x":-1168.0,"y":-616.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Request Content-Encoding":"DISABLED","proxy-configuration-service":null,"Request Multipart Form-Data Filename Enabled":"true","Request Chunked Transfer-Encoding Enabled":"false","Response Header Request Attributes Prefix":null,"HTTP/2 Disabled":"False","Connection Timeout":"10 secs","Response Cookie Strategy":"DISABLED","Socket Read Timeout":"15 secs","Socket Idle Connections":"5","Request Body Enabled":"true","OAuth2 Access Token Refresh Strategy":"ON_TOKEN_EXPIRATION","HTTP URL":"https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=f2e5503e927d-4ad3-9500-4ab9e55deb59&apikey=#{API_KEY}&type=1","Request OAuth2 Access Token Provider":null,"Socket Idle Timeout":"5 mins","Response Redirects Enabled":"True","Socket Write Timeout":"15 secs","Request Header Attributes Pattern":null,"Response FlowFile Naming Strategy":"RANDOM","Response Cache Enabled":"false","Request Date Header Enabled":"True","Request Failure Penalization Enabled":"false","Response Body Attribute Size":"256","SSL Context Service":null,"Response Generation Required":"false","Request User-Agent":null,"Response Header Request Attributes Enabled":"false","HTTP Method":"GET","Request Username":null,"Request Content-Type":"${mime.type}","Response Body Attribute Name":null,"Request Digest Authentication Enabled":"false","Request Multipart Form-Data Name":null,"Response Cache Size":"10MB","Response Body Ignored":"false"},"propertyDescriptors":{"Request Content-Encoding":{"name":"Request Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Filename Enabled":{"name":"Request Multipart Form-Data Filename Enabled","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Chunked Transfer-Encoding Enabled":{"name":"Request Chunked Transfer-Encoding Enabled","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Prefix":{"name":"Response Header Request Attributes Prefix","displayName":"Response Header Request Attributes Prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP/2 Disabled":{"name":"HTTP/2 Disabled","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cookie Strategy":{"name":"Response Cookie Strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Password":{"name":"Request Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Socket Read Timeout":{"name":"Socket Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Idle Connections":{"name":"Socket Idle Connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Body Enabled":{"name":"Request Body Enabled","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"OAuth2 Access Token Refresh Strategy":{"name":"OAuth2 Access Token Refresh Strategy","displayName":"OAuth2 Access Token Refresh Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP URL":{"name":"HTTP URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request OAuth2 Access Token Provider":{"name":"Request OAuth2 Access Token Provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Socket Idle Timeout":{"name":"Socket Idle Timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Redirects Enabled":{"name":"Response Redirects Enabled","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Socket Write Timeout":{"name":"Socket Write Timeout","displayName":"Socket Write Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Attributes Pattern":{"name":"Request Header Attributes Pattern","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response FlowFile Naming Strategy":{"name":"Response FlowFile Naming Strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Enabled":{"name":"Response Cache Enabled","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Date Header Enabled":{"name":"Request Date Header Enabled","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Failure Penalization Enabled":{"name":"Request Failure Penalization Enabled","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Size":{"name":"Response Body Attribute Size","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Response Generation Required":{"name":"Response Generation Required","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request User-Agent":{"name":"Request User-Agent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Header Request Attributes Enabled":{"name":"Response Header Request Attributes Enabled","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Username":{"name":"Request Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Content-Type":{"name":"Request Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Attribute Name":{"name":"Response Body Attribute Name","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Digest Authentication Enabled":{"name":"Request Digest Authentication Enabled","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Multipart Form-Data Name":{"name":"Request Multipart Form-Data Name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Cache Size":{"name":"Response Cache Size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Response Body Ignored":{"name":"Response Body Ignored","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"15 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48320522-78fb-3ba7-b2be-f9640430fc70"},{"identifier":"c4db0c26-7243-3ab0-b5c2-59bcd570504c","instanceIdentifier":"986cce64-019a-1000-320c-4afc46b16a30","name":"SplitJson","comments":"","position":{"x":-1168.0,"y":-384.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.6.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$.result"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"48320522-78fb-3ba7-b2be-f9640430fc70"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"e6a34978-236b-340c-88ae-251d7e0dfe29","instanceIdentifier":"986d2b18-019a-1000-e673-aec64b7f8e90","name":"","source":{"id":"afe50d41-09c0-3f89-9233-7aae4f47f851","type":"PROCESSOR","groupId":"48320522-78fb-3ba7-b2be-f9640430fc70","name":"InvokeHTTP","comments":"","instanceIdentifier":"985cbe5e-019a-1000-7763-4630afc6525c"},"destination":{"id":"c4db0c26-7243-3ab0-b5c2-59bcd570504c","type":"PROCESSOR","groupId":"48320522-78fb-3ba7-b2be-f9640430fc70","name":"SplitJson","comments":"","instanceIdentifier":"986cce64-019a-1000-320c-4afc46b16a30"},"labelIndex":0,"zIndex":1,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48320522-78fb-3ba7-b2be-f9640430fc70"},{"identifier":"42e5f136-9c79-39db-b266-702a7a2edfae","instanceIdentifier":"9875b436-019a-1000-688c-c0a0b036c558","name":"","source":{"id":"c4db0c26-7243-3ab0-b5c2-59bcd570504c","type":"PROCESSOR","groupId":"48320522-78fb-3ba7-b2be-f9640430fc70","name":"SplitJson","comments":"","instanceIdentifier":"986cce64-019a-1000-320c-4afc46b16a30"},"destination":{"id":"9e3def6e-4bc6-3779-aa6c-b2e0917a4019","type":"PROCESSOR","groupId":"48320522-78fb-3ba7-b2be-f9640430fc70","name":"PutAzureEventHub","comments":"","instanceIdentifier":"98755ba4-019a-1000-fac8-d4e84c813292"},"labelIndex":0,"zIndex":2,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"48320522-78fb-3ba7-b2be-f9640430fc70"}],"labels":[],"funnels":[],"controllerServices":[],"parameterContextName":"API_KEY","defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{"API_KEY":{"name":"API_KEY","parameters":[{"name":"API_KEY","description":"","sensitive":false,"provided":false,"value":"1cdfca22-32ad-4c95-bf69-a82329d359f7"}],"inheritedParameterContexts":[],"description":"","componentType":"PARAMETER_CONTEXT"}},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}